*
!.gitignore
!host.html
!motd.txt
!index.html

!/cfg
/cfg/*

!/cfg/server.cfg

!/cfg/sourcemod/
/cfg/sourcemod/*

!/cfg/sourcemod/perkmod.cfg
!/cfg/sourcemod/l4d_shove_magnum_fire.cfg

!/addons/
/addons/*

!/addons/sourcemod/
/addons/sourcemod/*

!/addons/sourcemod/plugins/
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/perkmod2.smx
!/addons/sourcemod/plugins/l4d_shove_magnum_fire.smx

!/addons/sourcemod/scripting/
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/perkmod2.sp
!/addons/sourcemod/scripting/l4d_shove_magnum_fire.sp