*
!.gitignore

!host.html
!motd.txt
!index.html

# cfg

!/cfg
/cfg/*

!/cfg/server.cfg

# cfg/sourcemod

!/cfg/sourcemod/
/cfg/sourcemod/*

!/cfg/sourcemod/perkmod.cfg
!/cfg/sourcemod/l4d_mutants.cfg
!/cfg/sourcemod/l4d_shove_magnum_fire.cfg
!/cfg/sourcemod/l4d2_wskin_rng.cfg

# addons

!/addons/
/addons/*

!/addons/cwb.vpk
!/addons/cwb_ammo.vpk
!/addons/cwb_barnacle.vpk
!/addons/cwb_flame.vpk
!/addons/cwb_sentry.vpk
!/addons/cwb_syringe.vpk
!/addons/malorian167.vpk
!/addons/ping_system.vpk

# addons/sourcemod

!/addons/sourcemod/
/addons/sourcemod/*

# addons/sourcemod/bin

!/addons/sourcemod/bin/
/addons/sourcemod/bin/*

# addons/sourcemod/configs

!/addons/sourcemod/configs/
/addons/sourcemod/configs/*

!/addons/sourcemod/configs/admins_simple.ini

# addons/sourcemod/data

!/addons/sourcemod/data/
/addons/sourcemod/data/*

!/addons/sourcemod/data/l4d_info_editor_mission.cfg
!/addons/sourcemod/data/l4d_info_editor_weapons.cfg

!/addons/sourcemod/data/l4d_mutants.cfg

# addons/sourcemod/extensions

!/addons/sourcemod/extensions/
/addons/sourcemod/extensions/*

# addons/sourcemod/gamedata

!/addons/sourcemod/gamedata/
/addons/sourcemod/gamedata/*

# addons/sourcemod/logs

!/addons/sourcemod/logs/
/addons/sourcemod/logs/*

# addons/sourcemod/plugins

!/addons/sourcemod/plugins/
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/perkmod2.smx
!/addons/sourcemod/plugins/l4d_mutant_zombies.smx
!/addons/sourcemod/plugins/l4d_shove_magnum_fire.smx
!/addons/sourcemod/plugins/l4d2_wskin_rng.smx

# addons/sourcemod/scripting

!/addons/sourcemod/scripting/
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/perkmod2.sp
!/addons/sourcemod/scripting/l4d_mutant_zombies.sp
!/addons/sourcemod/scripting/l4d_shove_magnum_fire.sp
!/addons/sourcemod/scripting/l4d2_wskin_rng.sp

# addons/sourcemod/translations

!/addons/sourcemod/translations/
/addons/sourcemod/translations/*

!/addons/sourcemod/translations/plugin.perkmod.txt
!/addons/sourcemod/translations/plugin.perkmod - all langs 1 file.txt
